# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\source_code\giteehub_multi_push\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
